body {
  margin: 0 auto;
}

.carosel {
  position: relative;
  padding:0;
}

.nav-position {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  display: flex;
}

.carosel-caption {
  z-index: 1055;
}

@media screen (max-width:1024px) {
  .header-nav {
    display: none!important;
  }
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration:none;
}

header li {
  display: flex;
}

.navbar-toggler {
  position: relative;
  border: none;
  padding: 0px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  z-index: 1055;

}
.navbar-toggler-icon {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #000000;
  background-image: none;
  display: block;
  transition: ease .5s;
}

.navbar-toggler.active .navbar-toggler-icon {
  background-color: #fff;
}

.navbar-toggler-icon:nth-of-type(1) {top: 7px;}
.navbar-toggler-icon:nth-of-type(2) {top: 14px;}
.navbar-toggler-icon:nth-of-type(3) {top: 21px;}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(1) {
  top: 13px;
  transform: rotate(45deg);
}
.navbar-toggler.active .navbar-toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .navbar-toggler-icon:nth-of-type(3) {
  top: 13px;
  transform: rotate(-45deg);
}

button:focus {
  outline: none;
}

.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;;
}
 
.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  background: rgba(36, 36, 36, 0.90);
  overflow:auto;
}
 
.fullscreen .modal-content .modal-header{
  border: 0px;
}
 
.fullscreen .modal-content button{
  opacity: 1;
}
 
.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}
 
.fullscreen .modal-body ul {
  padding: 0 0 0 0;
}
.fullscreen .modal-body li {
  padding-bottom: 43px;
}
.fullscreen .modal-body a {
  color: #fff;
  font-size: 16px;
}
 
.fullscreen .modal-body .social img {
  width: 56px;
  margin: 8px;
}


section {
  margin: 200px auto;
}

.un-line {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.un-line::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.un-line:hover::after {
  transform: scale(1, 1);
}

.col-11 {
  margin: auto;
}

.mb-60 {
  margin-bottom: 60px;
}


.sec-news .news-list .news-item:last-child {
  border-bottom: 0.67px solid
}

.sec-news .news-list .news-item {
  display: table;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 20px;
  overflow: hidden;
  border-top: 0.67px solid 
}

/* .navIcon {
    span {
        transition: all 0.3s;
        transform: rotate(0deg);
    }
    .top {
        transform: translateY(-17px);
    }
    .bottom {
        transform: translateY(17px)
    }
}

.navIcon.is-open {
    .middle {
        background: rgba(255, 255, 255, 0);
    }
    .top {
        transform: rotate(-45deg) translateY(0px);
    }
    .bottom {
        transform: rotate(45deg) translateY(0px);
    }
} */

/* .line {
    margin: 0 auto;
    width: 200px;
    border-bottom: solid 1.5px #000000;
}

.line:last-child {
    border-bottom: none;
} */

.fadein {
    opacity: 0.1;
    transform: translate(0, 50px);
    transition: all 500ms;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}