
* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    font-size: 1rem;
    font-family: sans-serif;
    color: #333;
    font-feature-settings: "palt";
    letter-spacing: 0.1em
}

body.noscrol {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.gr:hover {
    color: #a9a9a9;
}

.humburger-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    border: none;
    padding: 0px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    z-index: 1055;
    background-color: transparent;
}

.humburger-btn:focus {
    outline: none;
}

.humburger-btn-icon {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333333;
    background-image: none;
    display: block;
    transition: ease .5s;
}

.humburger-btn.active .humburger-btn-icon {
    color: #fff;
}

.humburger-btn-icon:nth-of-type(1) {top: 7px;}
.humburger-btn-icon:nth-of-type(2) {top: 14px;}
.humburger-btn-icon:nth-of-type(3) {top: 21px;}
.humburger-btn.active .humburger-btn-icon:nth-of-type(1) {
    top: 13px;
    transform: rotate(45deg);
}

.humburger-btn.active .humburger-btn-icon:nth-of-type(2) {
    opacity: 0;
}

.humburger-btn.active .humburger-btn-icon:nth-of-type(3) {
    top: 13px;
    transform: rotate(-45deg);
}

header{
    position: relative;
    z-index: 5;
}

h1 {
    width: 20%;
    position: absolute;
    top: 5px;
    left: 10px;
}

.gnav {
    background: #f5f5f5;
    transform: translateX(100%);
    transition: .5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 95;
    width: 100vw;
    height: 100vh;
}

.gnav.slide-in {
    transform: translateX(0);
}

.nav-menu.active {
    color: #333333;
    display: flex;
    flex-flow: column;
    margin: 30px 20px;
}

.nav-item {
    display: none;
}

.nav-menu.active .nav-item { 
    display: block;
    margin: 15px;
    margin-left: 0;
    font-size: 1.3rem;
}

main {
    position: relative;
}

.main-vew {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 56.25%;
}

.main-vew .bg-img {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 15s infinite;   /* 4画像 × 各5s = 20s */
}

.main-vew .src1 {
    background: url("../main-img01.jpg") no-repeat;
    background-size: cover;
}

.main-vew .src2 {
    background: url("../main-img02.jpg") no-repeat;
    background-size: cover;
    animation-delay  : 5s;
}

.main-vew .src3 {
    background: url("../main-img03.jpg") no-repeat;
    background-size: cover;
    animation-delay  : 10s;
}

/* .main-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    color: rgba( 10, 10, 100, 0.2);
    background-color: rgba( 0, 0, 0, 0.5);
} */

@keyframes bgAnime {
    0% { opacity: 0; }
    10% { opacity: 1; }
    28% { opacity: 1; }
    38% { opacity: 0; }
    100% { opacity: 0; }
}

section {
    padding: 40px 0;
    color: #333333;
}

h2 {
    font-size: 0.8rem;
    font-weight: normal;
    writing-mode: vertical-rl;
    margin: 0 0.5rem;
}

h3 {
    padding-bottom: 20px;
    font-weight: normal;
}

.about-inner {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}

#product {
    padding-bottom: 80px;
}

.product-wrap {
    display: flex;
}

.product-item {
    position: relative;
    margin: 20px auto;
    margin-top: 0;
    overflow: hidden;
    cursor: pointer; 
}

.product-img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.product-item a:hover .product-img{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.product-name {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.btn {
    text-align: center;
    display: block;
    border: 1px solid #c0c0c0;
    padding: 10px 15px;
    width: 60%;
    margin: 0 auto;
}

.btn:hover {
    background-color: #c0c0c0;
    letter-spacing: 5px;
    color: #333;
}

#news {
    background-color: #f5f5f5;
}

.news-wrap {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}

.news-inner {
    margin: 0 auto;
}

.news-item {
    margin-bottom: 1.2rem;
    display: flex;
    font-size: 0.8rem;
}

.news-txt {
    padding-right: 1rem;
}

footer {
    padding-top: 50px;
}

footer ul {
    text-align: center;
    padding: 30px;
}

footer ul li {
    padding: 0.5rem;
    font-size: 0.8rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c0c0c0;
}

.footer-logo img {
    width: 20vw;
}

small {
    display: block;
    font-size: 0.5rem;
}

.fadein {
    opacity: 0.1;
    transform: translate(0, 50px);
    transition: all 1000ms;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

@media screen and (min-width:768px) {
    .humburger-btn {
        display: none;
    }

    .gnav {
        display: block;
        background: transparent;
        transform: none;
        position: absolute;
        top: 38px;
        right: 10px;
    }

    .nav-menu {
        z-index: 100;
        display: flex;
        justify-content: flex-end;
        /* margin: 30px 10px; */
    }

    .nav-item {
        color: 333;
        display: block;
        margin-right: 40px;
        font-size: 1rem;
    }
    
    main {
        display: flex;
    }

    .main-txt {
        font-size: 3rem;
        display: inline-block;
    }

    section {
        padding: 100px 80px;
    }

    h2 {
        writing-mode: horizontal-tb;
        font-size: 1.5rem;
    }

    .about-inner {
        align-items: center;
        justify-content: center;    
        border-top:solid 1px #cdcdcd;
        border-bottom:solid 1px #cdcdcd;
        width: 70%;
        padding: 50px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .about-txt {
        margin-left: 5rem;
    }

    .product-wrap {
        display: block;
    }

    #product {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .product-inner {
        display: flex;
        align-items: center;
    }

    .product-item {
        margin: 15px;
    }

    .btn {
        width: 30%;
        margin-top: 50px;
    }

    .news-item {
        font-size: 0.8rem;
        text-align: center;
    }

    .news-wrap {
        justify-content: center;
    }

    .news-wrap h2{
        padding-right: 5rem;
    }

    .news-inner {
        margin: 0;
    }

    footer ul {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    footer ul li{
        padding: 0 20px;
    }

    .footer-logo img {
        width: 10vw;
    }
} 
